.img-fluid{
    width: 800px;
    height: 550px;
}
.img-fluid{
    width: 800px;
    height: 550px;
}
.form-control{
    width:70%;
    margin-left: 16%;
}

.container{
    height: 40%;
    width: 30%;
    margin-top: 5%;
   
}
.img-thumbnail{
    padding-top: 20%;
    padding-bottom: 20%;
}
.btn{
    margin-bottom: 40%;
}