.img-fluid{
    width: 800px;
    height: 550px;
}

.container{
    height: 40%;
    width: 30%;
    margin-top: 5%;
   
}

.sub{
    margin-left: 38%;
    
}
.fg{
    margin-bottom: 40px;
    color: white;
    text-decoration: none;
    
}
.rg
{
    color: white;
    text-decoration: none;
    
}
.form-control{
    width:70%;
    margin-left: 16%;
}
.img-thumbnail{
    padding-top: 20%;
}
img{
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: 0%;
}